@model TasksProgram.Models.Task

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Новая заметка</h2>

@using (Html.BeginForm())
{
    <div class="editor-lable">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="editor-lable">
        @Html.LabelFor(m => m.Record)
    </div>
    <div class="editor-field">
         @Html.EditorFor(m => m.Record)
         @Html.ValidationMessageFor(m => m.Record)
    </div>
    <input type="submit" value="Добавить" />
}
