@{
    ViewBag.Title = "Редкатирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TasksProgram.Models.Task
@using (Html.BeginForm("EditTask", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        <p>
            @Html.LabelFor(m => m.Title, "Заголовок")
            <br />
            @Html.EditorFor(m => m.Title)
        </p>
        <p>
            @Html.LabelFor(m => m.Record, "Текст")
            <br />
            @Html.EditorFor(m => m.Record)
        </p>
        <p><input type="submit" value="Сохранить" /></p>
    </fieldset>
}
