@using TasksProgram.Models;
@model IEnumerable<Task>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table>
    <p>
        @Html.ActionLink("Создать заметку", "AddNew")
    </p>
    <h3>Заметки</h3>
    @foreach (Task task in Model)
    {
        <td>
        <tr><p>@task.Title</p></tr>
        <tr><p>@task.Record</p></tr>
        @Html.ActionLink("Редактировать", "EditTask", new { id = task.ID });
        @Html.ActionLink("Удалить", "Delete", new { id = task.ID });

        </td>
    }
</table>